DAAI_DATABASE_URL=<postgresql_connection_string>
DAAI_SUPABASE_URL=<supabase_project_url>
DAAI_SUPABASE_JWT_SECRET=<supabase_jwt_secret_or_api_key_for_auth_verification>
DAAI_API_KEY_PEPPER=<api_key_pepper>
DAAI_WORKSPACE_KEY_PEPPER=<workspace_key_pepper>
DAAI_APPROVAL_TOKEN_PEPPER=<approval_token_pepper>
DAAI_APPROVAL_TOKEN_TTL_SECONDS=<approval_token_ttl_seconds>
DAAI_API_BASE_URL=<api_base_url_for_scripts_and_ops>
DAAI_PUBLIC_BASE_URL=<public_api_base_url>
DAAI_DASHBOARD_BASE_URL=<dashboard_base_url_for_email_links>
DAAI_APPROVAL_EMAIL_PROVIDER=<log_or_resend>
DAAI_APPROVAL_EMAIL_FROM=<approved_sender_email>
DAAI_RESEND_API_KEY=<resend_api_key>
DAAI_CORS_ORIGINS=<comma_separated_origins>
DAAI_DEV_APPROVAL_LINK_LOGGING_ENABLED=<true_or_false>
DAAI_DEV_AUTO_LINK_SEEDED_WORKSPACE=<true_or_false>
DAAI_DEV_SEEDED_WORKSPACE_ID=<seeded_workspace_uuid>
